@model IEnumerable<UI.Data.Category>
@{
    var level1 = Model.Where(p => !p.ParentCategoryId.HasValue).OrderBy(p => p.CategoryName);
}
@foreach (var cate1 in level1)
{
    var level2 = Model.Where(p => p.ParentCategoryId.HasValue && p.ParentCategoryId.Value == cate1.CategoryId).ToList();
    <li>
        <a asp-controller="Product" asp-action="Index"
           asp-route-cateId="@cate1.CategoryId">
            @cate1.CategoryName<i class="fa fa-angle-down"></i>
        </a>
        <div class="mega-menu">
            <span>
                <a href="#" class="title">Các loại:</a>
                @foreach (var cate2 in level2)
                {
                    <a asp-controller="Product"
                       asp-action="Index" asp-route-cateId="@cate2.CategoryId">
                        @cate2.CategoryName
                    </a>
                }
            </span>
        </div>
    </li>
}